body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: dodgerblue;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 1rem;
}
footer {
    background: dodgerblue;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h2{
    color:dodgerblue;
    border-bottom:2px solid rgb(209, 190, 16);
}